@import "~vue-wysiwyg/dist/vueWysiwyg.css";

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #fdf2ec;
    justify-content: center;
}

.logo {
    margin-bottom: 5px;
}

main {
    margin: 0 auto;
}

header {
    padding: 0;
    margin-top: 10px;
}

.logo img {
    width: 100%;
}

.last-states ul li,
.list-element {
    line-height: 1.25;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    padding: 4px 0;
    display: flex;
    -webkit-transition: all .2s ease-out;
}

ul {
    padding-left: 0;
}

.slider {
    margin-top: 40px;
}

.date {
    padding: 8px 12px;
    margin: auto 0;
    color: grey;
}

.state-name {
    margin: auto 0;
    padding: 10px 6px;
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    font-size: 18px;
}

#add-to-archive {
    display: flex;
    align-items: center;
}

#add-to-archive a {
    font-size: 20px;
}

#add-to-archive a:hover {
    background-color: #ec8443;
    color: white;
    -webkit-transition: all .2s ease-out;
}

.last-states-title {
    font-size: 22px;
    margin-bottom: 0;
    text-align: center;
}

.last-states {
    margin-top: 24px;
}

.last-states-title p {
    margin-bottom: 5px;
}

.menu-list {
    list-style: none;
    background-color: #ec8443;
    display: flex;
    justify-content: space-around;
}

.menu-list-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.menu-list li {
    text-align: center;
    font-size: 20px;
    color: white;
    -webkit-transition: all .2s ease-out;
}

.menu-list-link {
    width: 100%;
    display: block;
    padding: 10px 1.5rem;
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

.menu-list li:hover,
#navbar a:hover,
.btn-secondary:hover {
    background-color: #f5ebe0;
    color: #ec8443;
    -webkit-transition: all .3s ease-out;
}

#active-url, #dropdownMenuLink {
    background-color: #f5ebe0;
    color: #ec8443;
}

.add-list li > a:hover {
    background-color: #f2f4ff;
    color: #66c275;
    -webkit-transition: all .3s ease-out;
}

a:hover {
    color: #ec8443;
    transition: all .3s ease-out;
}

a {
    color: black;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
}

.last-elem-menu-list {
    border-bottom: 0;
}

.list {
    display: flex;
    justify-content: center;
}

.add-list li {
    list-style: none;
}

#navbar {
    padding-bottom: 0;
    padding-top: 0;
}

.div-add-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.add-list {
    display: inline-flex;
    justify-content: center;
}

.add-list li {
    width: 250px;
    margin-bottom: 10px;
}

.add-list li > a {
    padding: 15px 0;
    display: block;
    background-color: #66c275;
    border-radius: 6px;
    font-size: 26px;
    color: #f7efe8;
    text-align: center;
    -webkit-transition: all .3s ease-out;
}

.div-issues-form {
    justify-content: center;
}

.heading-list ul {
    display: flex;
    flex-wrap: wrap;
}

.create-heading-form input {
    width: 100%;
    padding: 6px 12px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc3bc;
    background-color: rgba(255, 189, 103, 0.07);
    box-shadow: 0 0 0 0;
    -webkit-transition: all .2s ease-out;
}

.to-page {
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.to-page > div {
    padding: 0 6px;
    display: inline-flex;
}

.to-page a {
    margin: 0 20px;
}

.create-heading-content {
    margin: 18px auto 0 auto;
    padding: 35px 45px;
    border-radius: 5px;
    box-shadow: 0 0 7px rgb(128 128 128 / 50%);
    background-color: white;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.submit-button button,
.profile-edit-link a {
    border: 0;
    border-radius: 14px;
    background-color: #ec8443;
    color: white;
    font-size: 22px;
    padding: 6px 20px;
    -webkit-transition: all .2s ease-out;
}

.profile-show-list-div {
    font-size: 20px;
}

.profile-edit-link {
    display: flex;
    justify-content: end;
}

.submit-button button:hover {
    background-color: rgba(236, 132, 67, 0.80);
    -webkit-transition: all .2s ease-out;
}

#file-input {
    border: 0;
}

.heading-image {
    height: auto;
    padding: 14px;
}

.heading-image img {
    width: 100%;
    max-width: 240px;
    max-height: 200px;
}

.add-heading-input {
    margin-top: 15px;
}

.heading-list-elem {
    margin: 10px;
    width: auto;
    flex-direction: column;
    border-radius: 4px;
    line-height: 1.25;
    background-color: white;
    padding: 4px 0;
    display: flex;
    -webkit-transition: all .2s ease-out;
}

.heading-list-elem:hover {
    box-shadow: 0 2px 4px rgba(183, 167, 149, 0.6);
}

.heading-list-head {
    display: flex;
    justify-content: space-between;
}

.search-issue-input {
    padding: 6px 26px;
    font-size: 20px;
    margin: 0;
    width: inherit;
    border-radius: 30px;
    border: 0;
    background-color: rgba(253, 222, 182, 0.07);
    box-shadow: 0 1px 4px rgba(168, 168, 168, 0.5);
    -webkit-transition: all .2s ease-out;
}

.search-issue-input:focus {
    background-color: white;
    box-shadow: 0 1px 4px rgba(114, 63, 31, 0.2);
    -webkit-transition: all .2s ease-out;
}

.search-submit {
    padding: 5px 20px;
    background-color: #ec8443;
    color: white;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    -webkit-transition: all .2s ease-out;
}

.search-submit:hover {
    background-color: #ea935d;
    -webkit-transition: all .2s ease-out;
}

.search-div {
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
}

.search-div label {
    width: 98%;
}

.search-issue-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.issues-ul ul {
    margin: 5px 0;
}

.issues-ul {
    background-color: white;
    border-radius: 10px;
}

.states-search-label {
    display: inline-flex;
    margin-right: 12px;
}

.states-search-label p {
    margin: auto 6px;
    font-size: 18px;
}

.form-control {
    width: auto;
    font-size: 18px;
}

.states-search-div {
    padding: 5px 0;
    display: inline-flex;
    justify-content: center;
}

.states-list {
    background-color: white;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgb(168 168 168 / 90%);
}

.states-list li:hover,
.issues-ul li:hover,
.last-states ul li:hover {
    background-color: rgb(242, 247, 255);
}

.state-author {
    margin: auto 0;
    color: gray;
}

.author {
    white-space: nowrap;
    margin: auto 8px auto 6px;
    color: gray;
}

.form-group {
    margin-bottom: 12px;
}

.state-name-input {
    height: 36px;
    align-self: center;
    width: 100%;
    border-radius: 8px;
    padding: 0 16px;
    border: 1px solid #ccc3bc;
    background-color: rgba(255, 204, 140, 0.07);
    -webkit-transition: all .2s ease-out;
}

.state-name-div {
    width: 100%;
}

.states-heading-input {
    display: flex;
    font-size: 18px;
    align-items: baseline;
    margin-left: 20px;
}

.state-logo-input {
    margin-bottom: 20px;
}

.state-author-input {
    height: 36px;
    border-radius: 8px;
    padding: 0 16px;
    border: 1px solid #ccc3bc;
    background-color: rgba(255, 204, 140, 0.07);
    -webkit-transition: all .2s ease-out;
}

.state-author-div {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
}

.state-show-div {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px 40px 40px 40px;
    flex-direction: column;
    box-shadow: 0 1px 6px 0 lightgrey;
}

.state-show-main-div {
    display: flex;
    justify-content: end;
    margin-bottom: 45px;
}

.slider-link {
    font-size: 22px;
    color: white;
}

.state-show-name {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.div-search div {
    display: inline-flex;
    width: auto;
}

.div-search input {
    width: 100%;
}

.destroy-state {
    display: flex;
    justify-content: end;
}

.state-show-author {
    display: flex;
    justify-content: end;
    margin: 20px 20px 20px 0;
    font-size: 20px;
    font-style: italic;
}

.destroy-state button,
.destroy-submit {
    border: 0;
    padding: 8px 16px;
    background-color: #ea7232;
    margin-left: 10px;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    -webkit-transition: all .2s ease-out;
}

.destroy-state button:hover {
    background-color: rgba(234, 114, 50, 0.8);
}

.nav-link {
    padding: 10px 1.5rem;
}

.create-heading-form input:focus,
.state-author-input:focus,
.state-name-input:focus {
    border-radius: 10px;
    -webkit-transition: all .2s ease-out;
    background-color: white;
}

input {
    outline: none;
}

.destroy-issue button,
.destroy-media button {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border: 0;
    height: 100%;
    -webkit-transition: all .1s ease-out;
}

.destroy-issue button:hover,
.destroy-media button:hover {
    color: red;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    -webkit-transition: all .1s ease-out;
}

.heading-name {
    margin: auto 0;
    padding: 8px 18px;
    font-size: 18px;
}

.redact-state-link {
    display: flex;
    width: fit-content;
    margin-left: auto;
}

.redact-state-link a {
    width: 100%;
    margin-left: auto;
    background-color: #002bff;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 20px;
    -webkit-transition: all .3s ease-out;
}

.redact-state-link:hover a {
    color: white;
    background-color: #408f7c;
    -webkit-transition: all .3s ease-out;
}

.btn-secondary {
    background-color: #ec8443;
    border: 0;
    font-size: 20px;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
    left: auto;
}

.dropdown-menu[data-bs-popper] li {
    color: #ec8443;
}

.dropdown-item {
    color: #ec8443;
    text-align: start;
    padding: 8px 22px;
}

.navbar-collapse {
    flex-grow: 0;
}

.destroy-note-submit {
    background-color: #e13030;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 6px 16px;
    border-radius: 6px;
    margin: auto 8px auto 0;
}

.recover-note-form,
.destroy-note-form {
    display: flex;
    margin: auto 5px 5px 5px;
}

.recover-note-submit {
    border: 0;
    background: darkseagreen;
    color: white;
    padding: 6px 16px;
    border-radius: 6px;
    margin: auto 12px auto 0;
    font-size: 18px;
}

.destroy-recover-div {
    display: inline-flex;
    margin-left: auto;
    flex-wrap: wrap;
}

.notes-list-div {
    margin-bottom: 25px;
}

.notes-list-div ul {
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    margin-bottom: 0;
}

.state-show-redact-destroy {
    display: flex;
    margin-bottom: 20px;
}

.pagination svg {
    width: 24px;
}

.pagination {
    justify-content: center;
    padding-left: 1rem;
}

.pagination p,
.pagination > nav > div:first-child {
    display: none;
}

.pagination-first-parent {
    width: auto;
}

.create-state-name-heading {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.main-menu-first-child {
    display: flex;
}

.burger-menu {
    list-style: none;
    display: none;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(2px);
}

.carousel-caption p {
    margin-bottom: 1.5rem;
}

.heading-show-list {
    margin: 20px auto 0 auto;
}

.heading-name-link {
    margin-bottom: 10px;
}

.comment-send-div {
    display: flex;
    flex-direction: column;
}

.comment-submit {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}
.comment-submit input[type=submit] {
    background-color: #ec8443;
    color: white;
    font-size: 20px;
}

.comment-submit input[type=submit]:hover {
    background-color: rgba(234, 114, 50, 0.8);
}

.comment-message {
    padding: 14px 20px;
    font-size: 18px;
    border: 0;
    box-shadow: 0 1px 10px 0 #c2c2c2;
    border-radius: 8px;
    outline: 2px solid white;
    -webkit-transition: all .2s ease-out;
    min-height: 110px;
}

.comment-message:focus {
    outline: 2px solid #f1b58f;
    -webkit-transition: all .2s ease-out;
}

.border-bottom-grey {
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.comment-list {
    margin-bottom: 20px;
}

.comment-element {
    display: flex;
}

.comment-list > div > div {
    box-shadow: 0 1px 6px 0 lightgrey;
    padding: 12px 24px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 20px;
}

.comment-date {
    color: grey;
    margin-left: 15px;
}

.comments-count {
    margin: 10px 0;
}

.comments-count p {
    font-size: 20px;
}

.margin-auto-null label {
    margin: auto 10px auto 0;
    font-size: 20px;
    white-space: nowrap;
}

.delete-comment {
    font-size: 26px;
    color: #4a5568;
}

.delete-comment input[type=submit] {
    border: 0;
    background: none;
}

.state-rating-p {
    font-size: 20px;
    color: #ec8443;
    margin-bottom: -10px;
    margin-right: 20px;
}

.verify-reset-submit {
    color: #0d6efd;
    margin-left: 32%;
}

.note-list-elem {
    display: flex;
    flex-wrap: wrap;
}

.select-sort {
    margin-right: 15px;
}

.pagination-button {
    background-color: white;
    color: #1c1d21;
    font-size: 22px;
    padding: 5px 15px;
    border: 1px solid rgba(61, 89, 152, 0.5);
}

.active-paginate-button {
    background-color: #1da1f2;
    color: white;
}

.pagination-div ul {
    border: 0;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
}

.recovery-button {
    padding: 8px 16px;
    font-size: 20px;
    margin-left: 6px;
}

@media screen and (max-width: 992px) {

    .start-section,
    .menu-list {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-menu-first-child,
    .main-menu-first-child li {
        flex-direction: column;
    }

    .menu-list-ul,
    .display-none {
        display: none;
    }

    .collapse {
        display: flex;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-menu[data-bs-popper] {
        margin-top: -130px;
        text-align: center;
    }
    .dropdown-menu {
        min-width: 191px;
    }
    .dropdown-menu[archive-menu] {
        margin-top: -330px;
    }

    .dropdown-menu[data-bs-auth] {
        margin-top: -380px;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .menu-list-link {
        text-align: center;
    }

    .search-issue-select {
        display: flex;
        flex-direction: column;
    }

    .search-issue-select-first-d {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .state-show-main-div {
        display: flex;
        flex-direction: column-reverse;
    }
}
